.desktop-header {
	display: none;
}

.mobile-header {
	.logo {
		width: 50%;
		margin: 1em auto;
		max-width: 18em;

		img {
			width: 100%;
			display: block;
		}
	}

	.open-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em 1em;

		img {
			width: 25px;
		}
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $mg-dark-blue;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;

	ul {
		margin: 0;
		list-style-type: none;
		padding: 0;
	}

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: $wht;
		display: block;
		transition: 0.3s ease color;

		&:hover {
			color: $mg-blue;
		}
	}

	.close-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1em;

		img {
			width: 20px;
		}

	}
}

@media only screen and (min-width : 60em) {
	.mobile-header {
		display: none;
	}

	.desktop-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 3em;
		background-color: #ffffff;
		background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d4ebff' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

		.logo {
			flex: 0 0 20%;
			max-width: 10em;

			img {
				display: block;
				width: 100%;
			}
		}

		nav {
			flex: 0 0 35%;

			ul {
				list-style-type: none;
				display: flex;
				justify-content: space-around;
				margin: 0;
				padding: 0;

				li {
					flex: 0 0 20%;
					text-align: center;

					a {
						font-size: 1.1em;
						text-decoration: none;
						text-transform: uppercase;
						color: $blk;
						@include roboto;
						transition: .5s ease all;

						&:hover {
							color: $mg-blue;
						}
					}

					.active {
						color: $mg-med-blue;
						font-weight: 800;
					}
				}
			}
		}
	}
}