.text-area {
    margin: 2em;

    &-inner {
        margin: 0 0 5em 0;

        .text-area-top {
            text-align: center;
            margin: 3em 0;
        }

        .col-3 {
            .about-item {
                text-align: center;
                margin: 2em 0;

                h3 {
                    font-size: 2em;
                    width: 4.9em;
                    margin: 0 auto;

                }
            }
        }
    }
}

.mobile-first {
    margin: 5em 2em;
    &-inner {
        .left {
            h2 {
                text-align: center;
                margin: 0 0 2em 0;
            }
            p {
                text-align: center;
            }

            .mobile-first-infographic {
                display: flex;
                margin: 2em 0;

                .icon {
                    flex: 0 0 10%;

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                p {
                    text-align: left;
                    margin: 0 0 0 2em;
                }
            }
        }

        .right {

            height: 25em;
            overflow: hidden;
            
            img {
                display: block;
                width: 100%;
                max-width: 20em;
                margin: 0 auto;
            }
        }
    }
}


@media only screen and (min-width : 40em) {
    .text-area {
        margin: 3em;
    }

    .mobile-first {
        margin: 5em 3em;
    }
}

@media only screen and (min-width : 60em) {
    .text-area {
        
        margin: 5em auto;
        width: 80%;
        max-width: 80em;
        &-inner {

            .text-area-top {
                p {
                    max-width: 40em;
                    margin: 1.5em auto;
                }
            }
    
            .col-3 {
                display: flex;
                margin: 4em 0;

                .about-item {
                    text-align: left;
                    flex: 1 0 25%;
                    margin: 1em;

                    h3 {
                        margin: 0;
                    }
                }
            }
        }
    }

    .mobile-first {

        
        margin: 5em auto;
        width: 80%;
        max-width: 80em;
       // background-color: #ffffff;
       // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c0dcf2' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        padding: 1em;

        &-inner {
            display: flex;
            justify-content: space-between;
            .left {
                flex: 0 0 50%;
                
                h2 {
                    text-align: left;
                }

                p {
                    text-align: left;
                    margin-bottom: 4em;
                }

                .mobile-first-infographic {
                    align-items: center;

                    .icon {
                       flex: 0 0 8%;
                    }

                    p {
                        flex: 0 0 50%;
                    }
                }
            }
    
            .right {
                flex: 0 0 30%;
            }
    
        }
    }
}